<!-- This is the landing page -->
<div class="min-h-screen h-full flex justify-center items-center">
    <div class="border space-y-8 px-4 py-8 bg-white max-w-lg w-full">
        <h1 class="font-bold text-4xl text-center">Habit Tracker</h1>
        <div class=" text-center flex flex-col space-y-4 font-bold">
            <p>Create an account or login</p>
            <a href="/users/register" class="w-full bg-blue-600 px-4 py-2 text-white">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>